/* styles.css */

/* Add styles here to customize the appearance of your app */

/*attributes applied to objects in html to reduce line use*/

:root {
    --debug_color: rgb(255, 107, 107);
    --line_debug: 1px solid var(--debug_color);
/* Color vars for light and dark theme */
    --head_col: #303030;
    --bod_col: #3d3d3d;
    --txt_color: #fff;
    --font_face: Arial, Helvetica, sans-serif;
}

.absolute {
    position:absolute;
}

.whole_width{
    width: 100%;
}

.whole_height{
    height: 100%;
}

.course_button{
    width: 135px;
    height: 200px;
    font-size: 16pt;
    background-color: rgba(255, 255, 255, 0.057);
    outline: 1px solid #ffffff74;
    padding: 20px;
    border-radius: 5px;
    margin: 5px;
}
/*---------------------------------------*/

html{
    font-family: var(--font_face);
    background-color: var(--bod_col);
    height: calc(100% - 1px);
    overflow: hidden;
    margin: -8px;
    color: var(--txt_color);
}

header {
    width: 100%;
    background-color: var(--head_col);
    padding: 10px;
    display: flex;
}
mod_body {
    position: fixed;
    padding: 20px;
}

mod_ac_1 {
    display:flex;
    margin: 15px;
}